<launch>
    <node pkg="mbot_voice" name="iat_publish"  type="iat_publish" output="screen"/>
    <node pkg="mbot_vision" name="object_detection" type="object_detect.py" output="screen"/>
    <node pkg="mbot_vision" name="move_to_target" type="move_to_target" output="screen"/>
    
    <node pkg="mbot_navigation" name="exploring_room" type="exploring_room.py" output="screen"/>
</launch>
