<launch>
    <include file="$(find my_robot_gazebo)/launch/view_my_robot_kinect_gazebo.launch"/>

    <include file="$(find face_detection_robot)/launch/usb_cam.launch"/>

    <include file="$(find face_detection_robot)/launch/face_detector.launch"/>

    <node pkg="face_detection_robot" name="face_detection_robot" type="face_detection_robot" output="screen"/>
</launch>
